<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6">
                <h6 class="section-title text-start text-primary text-uppercase">Hakkımızda</h6>
                <h1 class="mb-4">Rapid Hotel e <span class="text-primary text-uppercase">Hoşgeldiniz</span></h1>
                <p class="mb-4">Bu Yılın Tatilini Ailenizle En Lüks Yerde Yapmalısınız.</p>
                @await Component.InvokeAsync("CountPartial")
                <a class="btn btn-primary py-3 px-5 mt-2" href="~/Main/About">Daha Fazlasını Keşfet</a>
            </div>
            <div class="col-lg-6">
                <div class="row g-3">
                    <div class="col-6 text-end">
                        <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.1s" src="~/hotel/img/about-1.jpg" style="margin-top: 25%;">
                    </div>
                    <div class="col-6 text-start">
                        <img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.3s" src="~/hotel/img/about-2.jpg">
                    </div>
                    <div class="col-6 text-end">
                        <img class="img-fluid rounded w-50 wow zoomIn" data-wow-delay="0.5s" src="~/hotel/img/about-3.jpg">
                    </div>
                    <div class="col-6 text-start">
                        <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.7s" src="~/hotel/img/about-4.jpg">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>