

<div class="container-fluid bg-dark text-light footer wow fadeIn" data-wow-delay="0.1s">
    <div class="container pb-5">
        <div class="row g-5">

            <div class="col-md-6 col-lg-3">
                <h6 class="section-title text-start text-primary text-uppercase mb-4">İletişim</h6>
                <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>Avcılar, İstanbul, TR</p>
                <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+90 536 321 72 19</p>
                <p class="mb-2"><i class="fa fa-envelope me-3"></i>erkanbstn34@example.com</p>
                <div class="d-flex pt-2">
                    <a class="me-3" href="https://www.facebook.com/erkanbstn"><i class="fab fa-facebook-f"></i></a>
                    <a class="me-3" href="https://www.linkedin.com/in/erkanbostan/"><i class="fab fa-linkedin-in"></i></a>
                    <a class="me-3" href="https://www.instagram.com/erkanbssn/"><i class="fab fa-instagram"></i></a>
                    <a class="me-3" href="https://github.com/erkanbstn?tab=repositories"><i class="fab fa-github"></i></a>
                </div>
            </div>
            <div class="col-lg-5 col-md-12">
                <div class="row gy-5 g-4">
                    <div class="col-md-6">
                        <h6 class="section-title text-start text-primary text-uppercase mb-4">Sitemiz</h6>
                        <a class="btn btn-link" href="~/Main/About">Hakkımızda</a>
                        <a class="btn btn-link" href="~/Main/Contact">İletişim</a>
                        <a class="btn btn-link" href="~/Main/Room">Odalar</a>
                        <a class="btn btn-link" href="~/Main/Service">Hizmetler</a>
                        <a class="btn btn-link" href="~/Main/Reservation">Rezervasyon</a>
                    </div>
                    <div class="col-md-6">
                        <h6 class="section-title text-start text-primary text-uppercase mb-4">Hizmetlerimiz</h6>
                        <a class="btn btn-link" href="~/Main/Service">Yemek & Restorant </a>
                        <a class="btn btn-link" href="~/Main/Service">Spa & Fitness</a>
                        <a class="btn btn-link" href="~/Main/Service">Spor & Oyun</a>
                        <a class="btn btn-link" href="~/Main/Service">Kutlama & Party</a>
                        <a class="btn btn-link" href="~/Main/Service">GYM & Yoga</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="copyright">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    &copy; <a class="border-bottom" href="https://github.com/erkanbstn/Rapid-API.Core">Rapid Hotel</a>, Tüm Hakları Saklıdır.

                    Designed By <a class="border-bottom" href="https://www.linkedin.com/in/erkanbostan/">Geo</a>
                </div>
            </div>
        </div>
    </div>
</div>
<a href="#spinner" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
