@model List<MessageViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Mesaj Listesi</h1>
<br />
<table class="table table-hover">
    <tr>
        <th>
            #
        </th>
        <th>
            Kişi
        </th>
        <th>
            Email
        </th>
        <th colspan="2">
            Aksiyon
        </th>
    </tr>
    @foreach (var Message in Model)
    {
        <tr>
            <td>
                @Message.Id
            </td>
            <td>
                @Message.Name
            </td>
            <td>
                @Message.Email
            </td>
            <td>
                <a href="~/Message/DeleteMessage/@Message.Id" class="btn btn-danger">Sil</a>
                <a href="~/Message/UpdateMessage/@Message.Id" class="btn btn-success">Güncelle</a>
            </td>
        </tr>
    }
</table>
<br />
<a href="~/Message/AddMessage" class="btn btn-primary">Yeni Mesaj Ekle</a>



