
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
    <partial name="~/Views/Shared/AdminLayoutPartials/_Head.cshtml"/>
<body>
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
    <div id="main-wrapper">
        <partial name="~/Views/Shared/AdminLayoutPartials/_Header.cshtml" />
        <partial name="~/Views/Shared/AdminLayoutPartials/_Sidebar.cshtml" />
        <div class="content-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                @RenderBody()
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <partial name="~/Views/Shared/AdminLayoutPartials/_Footer.cshtml" />
    </div>
    <partial name="~/Views/Shared/AdminLayoutPartials/_Script.cshtml" />
</body>
</html>