
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
    <partial name="~/Views/Shared/UILayoutPartials/_Head.cshtml"/>
<body>
    <div class="container-xxl bg-white p-0">
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Yükleniyor...</span>
            </div>
        </div>
        <div class="container-fluid bg-dark px-0">
            <div class="row gx-0">
                <div class="col-lg-3 bg-dark d-none d-lg-block">
                    <a href="~/Main/Index" class="navbar-brand w-100 h-100 m-0 p-0 d-flex align-items-center justify-content-center">
                        <h1 class="m-0 text-primary text-uppercase">Rapid Hotel</h1>
                    </a>
                </div>
                <div class="col-lg-9">
                    <div class="row gx-0 bg-white d-none d-lg-flex">
                        <div class="col-lg-7 px-5 text-start">
                            <div class="h-100 d-inline-flex align-items-center py-2 me-4">
                                <i class="fa fa-envelope text-primary me-2"></i>
                                <p class="mb-0">erkanbstn34@gmail.com</p>
                            </div>
                            <div class="h-100 d-inline-flex align-items-center py-2">
                                <i class="fa fa-phone-alt text-primary me-2"></i>
                                <p class="mb-0">+90 536 321 72 19</p>
                            </div>
                        </div>
                        <div class="col-lg-5 px-5 text-end">
                            <div class="d-inline-flex align-items-center py-2">
                                <a class="me-3" href="https://www.facebook.com/erkanbstn"><i class="fab fa-facebook-f"></i></a>
                                <a class="me-3" href="https://www.linkedin.com/in/erkanbostan/"><i class="fab fa-linkedin-in"></i></a>
                                <a class="me-3" href="https://www.instagram.com/erkanbssn/"><i class="fab fa-instagram"></i></a>
                                <a class="me-3" href="https://github.com/erkanbstn?tab=repositories"><i class="fab fa-github"></i></a>
                            </div>
                        </div>
                    </div>
                    <nav class="navbar navbar-expand-lg bg-dark navbar-dark p-3 p-lg-0">
                        <a href="index.html" class="navbar-brand d-block d-lg-none">
                            <h1 class="m-0 text-primary text-uppercase">Rapid Hotel</h1>
                        </a>
                        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                            <div class="navbar-nav mr-auto py-0">
                                <a href="~/Main/Index" class="nav-item nav-link active">Ana Sayfa</a>
                                <a href="~/Main/About" class="nav-item nav-link">Hakkımızda</a>
                                <a href="~/Main/Service" class="nav-item nav-link">Hizmetler</a>
                                <a href="~/Main/Room" class="nav-item nav-link">Odalar</a>
                                <a href="~/Main/Contact" class="nav-item nav-link">İletişim</a>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <div class="container-fluid p-0 mb-5">
            <div id="header-carousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="w-100" src="~/hotel/img/carousel-1.jpg" alt="Image">
                        <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                            <div class="p-3" style="max-width: 700px;">
                                <h6 class="section-title text-white text-uppercase mb-3 animated slideInDown">Lüks Yaşam</h6>
                                <h1 class="display-3 text-white mb-4 animated slideInDown">Rapid Hotel in Lüksünü Keşfedin</h1>
                                <a href="~/Main/Room" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Odalarımız</a>
                                <a href="~/Main/Reservation" class="btn btn-light py-md-3 px-md-5 animated slideInRight">Rezervasyon Yap</a>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class="w-100" src="~/hotel/img/carousel-2.jpg" alt="Image">
                        <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                            <div class="p-3" style="max-width: 700px;">
                                <h6 class="section-title text-white text-uppercase mb-3 animated slideInDown">Lüks Yaşam</h6>
                                <h1 class="display-3 text-white mb-4 animated slideInDown">Rapid Hotel in Lüksünü Keşfedin</h1>
                                <a href="~/Main/Room" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Odalarımız</a>
                                <a href="~/Main/Reservation" class="btn btn-light py-md-3 px-md-5 animated slideInRight">Rezervasyon Yap</a>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#header-carousel"
                        data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Önceki</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#header-carousel"
                        data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Sonraki</span>
                </button>
            </div>
        </div>
        @RenderBody()
        <partial name="~/Views/Shared/UILayoutPartials/_Newsletter.cshtml" />
        <partial name="~/Views/Shared/UILayoutPartials/_Footer.cshtml" />
    </div>
    <partial name="~/Views/Shared/UILayoutPartials/_Script.cshtml"/>
    
</body>

</html>