@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h1>API Dosya Yükleme İşlemi</h1>
<br />
<form method="post" enctype="multipart/form-data">
    <input type="file" name="file" class="form-control" />
    <br />
    <input type="submit" class="btn btn-primary" value="Değişiklikleri Kaydet" />
</form>
