@model MessageViewModel
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<div class="container-xxl bg-white p-0">
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title text-center text-primary text-uppercase">Bize Ulaşın</h6>
                <h1 class="mb-5"><span class="text-primary text-uppercase">Bize </span>Herşey İçin Yazabilirsiniz</h1>
            </div>
            <div class="row g-4">
                <div class="col-12">
                    <div class="row gy-4">
                        <div class="col-md-4">
                            <h6 class="section-title text-start text-primary text-uppercase">Genel</h6>
                            <p><i class="fa fa-envelope-open text-primary me-2"></i>erkanbstn34@gmail.com</p>
                        </div>
                        <div class="col-md-4">
                            <h6 class="section-title text-start text-primary text-uppercase">Alternatif 1</h6>
                            <p><i class="fa fa-envelope-open text-primary me-2"></i>erkanbstn27@gmail.com</p>
                        </div>
                        <div class="col-md-4">
                            <h6 class="section-title text-start text-primary text-uppercase">Alternatif 2</h6>
                            <p><i class="fa fa-envelope-open text-primary me-2"></i>profesyonel59@gmail.com</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 wow fadeIn" data-wow-delay="0.1s">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d24092.420875819364!2d28.720432463536543!3d40.9912764610873!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14caa055fa0c7bc3%3A0xe0d85c4d83cc07b6!2zUGVsaWNhbiBNYWxsIEFsxLHFn3ZlcmnFnyB2ZSBZYcWfYW0gTWVya2V6aQ!5e0!3m2!1str!2str!4v1684615543027!5m2!1str!2str" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <div class="col-md-6">
                    <div class="wow fadeInUp" data-wow-delay="0.2s">
                        <form method="post">
                            <div class="row g-3">
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" asp-for="Name" id="email" placeholder="İsim">
                                        <label for="email">İsim</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="email" class="form-control" asp-for="Email" id="email" placeholder="Email">
                                        <label for="email">Email</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-floating">
                                        <textarea class="form-control" asp-for="Content" placeholder="Mesajınızı Yazın" id="message" style="height: 150px"></textarea>
                                        <label for="message">Mesaj</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-primary w-100 py-3" type="submit">Gönder</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
