@model RoomViewModel
@{
    ViewData["Title"] = "AddRoom";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Yeni Oda Ekle</h1>
<br />
<form method="post">
    <span>No</span>
    <input asp-for="No" class="form-control" type="text" />
    <span asp-validation-for="No" class="text-danger"></span>
    <br />
    <span>Oda</span>
    <input asp-for="Title" class="form-control" type="text" />
    <span asp-validation-for="Title" class="text-danger"></span>
    <br />
    <span>Fiyat</span>
    <input asp-for="Price" class="form-control" type="text" />
    <br />
    <span>Yatak Sayısı</span>
    <input asp-for="BedCount" class="form-control" type="text" />
    <span asp-validation-for="BedCount" class="text-danger"></span>
    <br />
    <span>Banyo Sayısı</span>
    <input asp-for="BathCount" class="form-control" type="text" />
    <span asp-validation-for="BathCount" class="text-danger"></span>
    <br />
    <span>Wifi</span>
    <input asp-for="Wifi" class="form-control" type="text" />
    <br />
    <span>Görsel</span>
    <input asp-for="RoomCoverImage" class="form-control" type="text" />
    <br />
    <input class="btn btn-primary" value="Değişiklikleri Kaydet" type="submit" />
</form>

