
<div class="nk-sidebar">
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">
            <li class="nav-label">Dashboard</li>

            <li>
                <a href="~/Staff/Index" aria-expanded="false">
                    <i class="icon-badge menu-icon"></i><span class="nav-text">Personeller</span>
                </a>
            </li>
             <li>
                <a href="~/Testimonial/Index" aria-expanded="false">
                    <i class="icon-speedometer menu-icon"></i><span class="nav-text">Partnerler</span>
                </a>
            </li>
             <li>
                <a href="~/Service/Index" aria-expanded="false">
                    <i class="icon-envelope menu-icon"></i><span class="nav-text">Servisler</span>
                </a>
            </li>
            <li>
                <a href="~/Booking/Index" aria-expanded="false">
                    <i class="icon-screen-tablet menu-icon"></i><span class="nav-text">Rezervasyonlar</span>
                </a>
            </li> 
            <li>
                <a href="~/Room/Index" aria-expanded="false">
                    <i class="icon-graph menu-icon"></i><span class="nav-text">Odalar</span>
                </a>
            </li>
            <li>
                <a href="~/Message/Index" aria-expanded="false">
                    <i class="icon-grid menu-icon"></i><span class="nav-text">Mesajlar</span>
                </a>
            </li>
             <li>
                <a href="~/Auth/LogOut" aria-expanded="false">
                    <i class="icon-globe-alt menu-icon"></i><span class="nav-text">Çıkış Yap</span>
                </a>
            </li>
            @*<li>
                    <i class="icon-layers menu-icon"></i><span class="nav-text">Components</span>
                    <i class="icon-note menu-icon"></i><span class="nav-text">Forms</span>
                    <i class="icon-menu menu-icon"></i><span class="nav-text">Table</span>
                    <i class="icon-notebook menu-icon"></i><span class="nav-text">Pages</span>
            </li>*@
        </ul>
    </div>
</div>

